.contact-container {
    width: 100%;
    padding: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d9f99d;
  }
  
  .contact-content {
    width: 100%;
    max-width: 40rem; 
  }
  
  
  .contact-heading {
    padding: 0.25rem 0;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    font-weight: bold;
    font-size: 1.875rem; 
    color: #065f46; 
  }
  

  .contact-form {
    height: 24rem; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    border: 2px solid #047857; 
    background-color: rgba(127, 250, 127, 0.55); 
  }
  
  
  .label-spacing {
    margin-top: 1rem; 
  }
  

  .contact-input,
  .contact-textarea {
    margin-top: 0.5rem;
    padding: 0.5rem;
    background-color: #a0f3b7; 
    border-radius: 0; 
    width: 100%;
  }
  
  
  .contact-button {
    margin-top: 1rem;
    width: 9rem; 
    margin-left: auto;
    margin-right: auto;
    padding: 0.5rem 1rem;
    background-color: #f7fee7; 
    border: 1px solid #065f46; 
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  
  .contact-button:hover {
    background-color: #065f46; 
    color: white; 
  }
  
