@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}


.header {
  font-family: 'Poppins', sans-serif;
  animation: slideInFromTop 0.3s ease;
  background-color: #bef264; 
  border: 1px solid #065f46; 
  font-size: 1.25rem; 
  width: 100%;
  height: 80px; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.25); 
  color: #000000;
  padding: 0 2rem; 
  position: sticky;
  top: 0;
  z-index: 50;
  opacity: 0.7;
  transition: transform 0.3s ease-in-out;
}


.header-logo {
  font-weight: bold;
  font-size: 2rem; 
}


.nav-links {
  display: none; 
  font-weight: 600; 
}

.nav-links ul {
  display: flex;
  gap: 1rem; 
}


.icon-container {
  display: flex;
  gap: 1rem; 
  align-items: center;
}

.icon {
  width: 1.5rem; 
  height: 1.5rem; 
}


.menu-button {
  background: transparent;
}

.menu-button:hover {
  background: transparent;
}


@media (min-width: 1024px) {
  .nav-links {
    display: block; 
  }
  .menu-button {
    display: none;
  }
}


.mobile-menu {
  animation: slideInFromBottom 0.3s ease;
  position: absolute;
  top: 80px; 
  right: 0.5rem; 
  background-color: #a3e635; 
  border: 1px solid #065f46; 
  border-radius: 0.5rem; 
  padding: 0.5rem 0; 
}

.mobile-menu ul {
  display: flex;
  flex-direction: column;
  color: white;
  font-family: 'Poppins', sans-serif;
}

.mobile-menu li {
  padding: 0.5rem 1rem; 
}

.mobile-menu li + li {
  margin-top: 0.5rem;
}

.mobile-menu hr {
  width: 100%;
  margin-bottom: 0.5rem; 
}


@keyframes slideInFromTop {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideInFromBottom {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}


/* Footer */

.footer-container {
  display: flex;
  padding: 0 32px;
  height: 80px;
  background-color: #bef264; 
  border: 1px solid #d1d5db; 
  justify-content: space-between;
  align-items: center;
}

.footer-container h2 {
  display: flex;
  gap: 8px; 
  font-size: 1rem; 
  color: #000; 
}

.icon-container {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

.icon {
  cursor: pointer;
  transition: transform 0.3s ease;
}

.icon-facebook {
  color: #1877f2; /* Facebook blue */
}

.icon-instagram {
  color: #e1306c; /* Instagram pink */
}

.icon-whatsapp {
  color: #25d366; /* WhatsApp green */
}

.icon:active {
  transform: scale(0.95);
}


/* Hero Section */

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem 3.5rem; 
  background-color: #d9f99d; 
}


@media (min-width: 768px) {
  .hero-section {
    flex-direction: row;
  }
}


@media (min-width: 1024px) {
  .hero-section {
    padding-left: 9rem; 
    padding-right: 9rem;
  }
}


.hero-text-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 1rem; 
}

.hero-title {
  font-family: 'Rufina', serif;
  font-size: 3.75rem; 
  margin-bottom: 1.5rem; 
  color: #065f46; 
  line-height: 1.2; 
}

.hero-description {
  font-family: 'Poppins', sans-serif;
  margin-bottom: 1.5rem; 
  color: #065f46; 
}


.explore-button {
  width: 150px;
  height: 54px;
  background-color: #ecfccb; 
  border: 1px solid #065f46; 
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.25); 
  border-radius: 0;
  color: black;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.explore-button:hover {
  background-color: #065f46; 
  color: white;
}


@media (max-width: 639px) {
  .explore-button {
    margin-bottom: 5rem; 
  }
}


.hero-image {
  flex: 1;
  width: 100%;
  height: auto;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.25); 
  border-radius: 0;
}


@media (min-width: 768px) {
  .hero-image {
    width: 400px;
    height: 500px; 
  }
}

@media (min-width: 1024px) {
  .hero-image {
    width: 100%;
    height: 600px; 
  }
}
