.products-page {
    padding: 2.5rem 1.25rem;
    display: grid;
    gap: 1.25rem;
}


@media (min-width: 640px) {
    .products-page {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 768px) {
    .products-page {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (min-width: 1024px) {
    .products-page {
        grid-template-columns: repeat(4, 1fr);
    }
}


.product {
    display: flex;
    flex-direction: column;
}


.product-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}


.product-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
}

.product-name {
    font-size: 1.125rem;
    font-family: 'Poppins', sans-serif;
    margin-top: 0.5rem;
}

.product-price {
    font-size: 1rem;
}


.product-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0 2rem;
}


.order-button {
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ecfccb; 
    border: 1px solid #065f46; 
    color: black;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1); 
    border-radius: 0;
    transition: background-color 0.2s, color 0.2s;
}

.order-button:hover {
    background-color: #065f46; 
    color: white;
}
