.testimonials {
  background-color: white;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding-inline: 2%;
}


.testimonials h1 {
  font-weight: bold;
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: black;
}


.carousel {
  width: 100%;
  background-color: white;
  max-width: 70%;
}


.carousel-item {
  background-color: #d9f99d;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-inline: 2.2%;
  padding: 2rem 0.5rem;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  max-width: 90%; 
}

.carousel-item svg {
  margin-bottom: 1rem;
  width: 86px;
  height: 62px;
  fill: green;
}


.carousel-item p {
  margin-bottom: 2.5rem;
}


.carousel-item hr {
  width: 100%;
  margin-bottom: 1.5rem;
  height: 0.5px;
  background-color: #059669; 
}


.carousel-item img {
  width: 80px;
  height: auto;
  margin: 0 auto;
}

/* Testimonial name and title */
.carousel-item h2 {
  font-size: 1.125rem;
  font-weight: 600;
  margin-top: 10px;
}
